<!--
    This base.html page is being used to reduce redundant code.
    Extend this file into another html file to use it.
    Feel free to modify it.
-->
{% load static %}
<!DOCTYPE html>
<html>
    <head>

        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'fuelpredictionsystem/main.css' %}">
    <title>Fuel Price Predictor</title>
    </head>
    <body>
    
        <img src="{% static 'images/price_home.jpg' %}" align="right"/>
        <header class="site-header">
          <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
            <div class="container">
              <a class="navbar-brand mr-4" href="/">Fuel Price Predictor Home</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                  <!-- <a class="nav-item nav-link" href="/fqf">Fuel Quote Form</a> -->
                  <!-- <a class="nav-iten nav-link" href="/fqh">Fuel Quote History</a> -->
                  <a class="nav-item nav-link" href="/login">Client Login</a>
                          <a class="nav-item nav-link" href="/register">Client Registration</a>
                  <a class="nav-item nav-link" href="/contact">Contact</a>
                  <!-- <a class="nav-item nav-link" href="/clientProfile">Client Profile</a> -->
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                  <!-- <a class="nav-item nav-link" href="/logout">LogOut</a> -->
                </div>
              </div>
            </div>
          </nav>
        </header>
        <main role="main" class="container">
            <div class="row">
              <div class="col-md-8">
                {% block content %}{% endblock %}
              </div>
            </div>
        </main>
    </body>
</html>