# .coveragerc to control coverage.py
[run]
source = .
omit =
   *venv/*
   *venv/bin/*
   *venv/include/*
   *venv/lib/*
   *manage.py
   */settings.py
   
   */tests/*
   *apps.py
   *migrations/*
   *asgi.py
   *wsgi.py
   *filters.py
   *forms.py
   *queryDemos.py
   *signals.py
   *decorators.py
   
   
   *tests.py

   *__init__*
   */__pycache__/*
   */site-packages/*
   */distutils/*


[report]
#fail_under = 81
show_missing = True
#skip_covered = False