{% extends "fuelpredictionsystem/base.html"%}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Fuel Price Predictor</title>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  
	</head>
   <body>
    <div id="container"

        <div id="right" class="column">
            <h3>Welcome To JAAZ Fuel</h3>
			
            <form>
				<hr>
				<div class="form-group col">
					<p> Already a Member? <a href = "/login">Sign In</a>.</p>
					<p>Not a member? <a href="/clientRegistration">Register</a>.</p>  
				</div>
			</form>
        </div>
    </div>
   </body>
</html> 
{% endblock content %}

